$max-width: 1140px;
@import 'product';
@import 'cart';
@import 'registration';

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato";
    background-color: #fff;
}

.padding-site {
    padding-left: 12.481%;
    padding-right: 12.481%;
    box-sizing: border-box;
}
.container{
    max-width: $max-width;
    margin: auto;
}

.page-header{
    height: 75px;
    background-color: #222;
}

.page-header-wrp-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top-panel{        
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    margin-right: 41px;
    text-decoration: none;
}

.page-header svg {
    fill: #E8E8E8;
}
.page-header-search-btn {
    display: flex;
    align-items: center;
    
}
.page-header-search-btn:hover svg{
    fill: orange;
}
.page-header-search-input{
    width: 0;
    min-height: 0;
    margin-left: 10px;
    background-color: initial;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    border-color: transparent;
}
.page-header-search-input:focus {
      width: 150px;
      min-height: 20px;
      transition: width 1s ease;
      border: 2px solid #fff;
    }


.account-btn svg {
    width: 29px;
    height: 29px;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    /* border: 1px solid #fff; */
  }
  .menu-btn:hover span,
  .menu-btn:hover span::before,
  .menu-btn:hover span::after{
    background-color: orange;
  }
  .menu-btn:active span,
  .menu-btn:active span::before,
  .menu-btn:active span::after{
    background-color: red;
  }
  .menu-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
  }
  .menu-btn span::before,
  .menu-btn span::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -10px;
    left: 0;
  }
  .menu-btn span::after {
    top: 10px;
  }
  #menu-switch {
    display: none;
  }
  #menu-switch:checked ~ .menu-list {
    display: block;
  }
  #menu-switch:checked ~ .page-header-banner {
    border: 8px solid red;
}
/* ======================= */

.menu-list {
    display: none;
    width: 232px;
    min-height: 764px;
    /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
    padding: 16px 33px;
    box-sizing: border-box;
    background-color: #fff;
    list-style: none;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    position: absolute;
    top: 75px;
    /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
    right: 0;
    z-index: 20;
  }
  .menu-list-close-btn {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
    position: relative;
    top: 0;
    left: 170px;
  }
  .menu-list-close-btn::before,
  .menu-list-close-btn::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #6F6E6E;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -3px;
    transform: rotate(45deg);
  }
  .menu-list-close-btn::after {
    transform: rotate(-45deg)
  }
  .menu-list-close-btn:hover::before,
  .menu-list-close-btn:hover::after {
    background: #B7B6B6;
  }
  .menu-list-close-btn:active::before,
  .menu-list-close-btn:active::after{
    background: #535353;
  }
  .menu-list-title {
    display: block;
    margin: 9px 0 24px 0;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
  }
  .menu-title>a,
  .menu-list-item>a,
  .menu-sublist-item>a {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
  }
  /* .menu-list-item {
    
  } */
  .menu-list-item>a {
    display: block;
    margin: 0 0 11px 0;
    color: #F16D7F;
    text-transform: uppercase;
    text-decoration: none;
  }
  .menu-list-item:hover>a {
    color: #9889D7;
  }
  .menu-list-item:active>a {
    color: #9D2334;
  }
  .menu-sublist {
    padding: 0 0 0 21.5px;
    box-sizing: border-box;
    list-style: none;
  }
  .menu-sublist-item>a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 0 11px 0;
    color: #6F6E6E;
  }
  .menu-sublist-item a {
    text-decoration: none;
  }
  .menu-sublist-item:hover a {
    text-decoration: underline;
  }
  .menu-sublist-item:active a {
    text-decoration: none;
  }
  /* === end mobile menu === */
  

/* === account-btn === */
.account-btn{
    margin-left: 33px;
    background-color: initial;
    border: none;
}
.account-btn svg {
    width: 29px;
    height: 29px;
}
.account-btn:hover svg {
    fill: orange;
}
.account-btn:active svg {
    fill: red;
}
  /* === end account-btn === */
  
  
  /* === cart-btn === */
.cart-btn {
    margin-left: 33px;
    position: relative;
    color: #FFF;
    background-color: initial;
    border: none;
}
.cart-btn svg {
width: 32px;
height: 29px;
}
.cart-btn-count{
    position: absolute;    
    background-color: #F16D7F;
    z-index: 20;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    right: -8px;
    top: -8px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.cart-btn:hover svg {
fill: orange
}
.cart-btn:active svg {
fill: red;
}

.header-banner{
    width: 100%;
    background: #F1E4E6;
    margin-bottom: 65px;
    text-transform: uppercase;
}
.header-banner-wrp{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
}
.header-banner-img{    
    background: url(../img/head-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left -225px;
    width: 435px;
    min-height: 764px;
}
.header-banner-txt{
    max-height: 93px;
    margin-right: 8.7%;
    position: relative;
}

.header-banner-txt::before{
    content: ' ';
    height: 100%;
    width: 12px;
    background: #F16D7F;
    position: absolute;
    top: auto;
    left: -28px;
}
.header-banner-title{
    font-size: 48px;
    margin: 0;
    font-weight: 900;
}
.header-banner-subtitle{
    font-size: 32px;
    margin: 0;    
    font-weight: 700;
}

.header-banner-subtitle span{
    color: #F16D7F;
}
.single-header{
    background-color: #F8F3F4;
    height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.single-header-wrp{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.single-title{
    text-transform: uppercase;
    color: #F16D7F;
    font-weight: 400;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
.bread-crumbs{
    list-style: none;
}
.bread-crumbs li{
    display: inline;
    text-transform: uppercase;
    font-weight: 300;
    color: #636363;
    font-size: 14px;
}
.bread-crumbs li::after{
    content: "/";
    margin: 0 3px 0 6px;
}
li:last-child::after{
    content: none;
}
.bread-crumbs a{
    text-decoration: none;
    color: initial;
}
.bread-crumbs .active a{
    font-weight: bold;
    color: #F16D7F;
}
.products-wrp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.product-card a{
    text-decoration: none;
    color: initial;
}
.product-filter-block{
    margin-top: 51px;
    margin-bottom: 64px;
    text-transform: uppercase;
    display: flex;
    font-size: 14px;
}
.filter-main{
    padding-left: 16px;
    width: 360px;
    font-weight: bold; 
    position: relative;
    box-sizing: border-box; 
}
#filter-main-switch{
    display: none;    
}

.filter-main svg{
    fill: #000000;
    margin-left: 11px;
}
.filter-main:hover label, label ~ #filter-main-switch:checked, .filter-main-list label{
    color: #EF5B70;
}
.filter-main:hover svg, .filter-main-list svg{
    fill: #EF5B70;
}
.filter-main-list{
    padding-top: 13px;
    top: -13px;
    display: none;
    position: absolute;
    z-index: 20;
    left: 0;
    padding-left: 16px;     
    background-color: #FFF;
    box-sizing: border-box;
    width: 360px;
}
.filter-main-group-title{      
    color: #6F6E6E;
    font-weight: normal;
    list-style: none;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid #EF5B70;
    padding: 11px;    
    &:hover{
        color: #EF5B70;
    }
}
.filter-main-group-title::marker{
    display: none;
}
.filter-main-group-list{
    padding: 13px 0 13px 0;
}
.filter-main-group-item{
    padding: 11px 0;
    list-style: none;
    &:hover .filter-main-group-link{
        color: #EF5B70;
    }
}

.filter-main-group-link{
    text-decoration: none;
    color: initial;
    font-weight: normal;
    text-transform: none;
    margin-left: 20px;      
    color: #6F6E6E;
    :hover{
        color: #EF5B70;
    }
}
.filter-main-group{
    padding: 11px;
}
.filter-main-group[open] summary{
    color: #EF5B70;
}
#filter-main-switch:checked ~ .filter-main-list{
    display: block;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter-second{
    font-size: 14px;
    color: #6F6E6E;
    margin-left: 28px;
    position: relative;
    min-width: 79px;
    background-color: #FFF;
}
#filter-size{
    display: none;
}
.product-filters{
    display: flex;
}
.product-filter-group{
    width: 100%;
    top: 22px;
    left: -9px;
    padding: 7px 9px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.product-filter-item{
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}
.product-filter-item input{
    margin-right: 9px;
}
.filter-second .fa-chevron-down{
    margin-left: 10px;
}
.product-filter-size{
    display: none;
}
#filter-size:checked ~ .product-filter-size{
    display: block;
}
.offer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer-card, .offer-card-wide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.offer-card{
    width: 360px;
    height: 260px;
    background-position: center center;    
    background-size: cover;
}

.offer-card-wide{
    width: 100%;
    height: 180px;
    margin-top: 30px;    
    background-size: cover;
    background-position: center;
}

.offer-card p, .offer-card-wide p{
    margin: 0;
    padding: 0;
    display: flex;
}

.offer-card-title{
    color: #F16D7F;
    font-weight: bold;
    font-size: 24px;
}
.offer-card-subtitle{
    font-size: 16px;
    color: #FFFFFF;
}

$toner: linear-gradient(
rgba(33, 22, 22, 0.7),
rgba(33, 22, 22, 0.7));
    
.offer-card-forwomen{
    background-image: $toner,
        url(../img/forwomen.jpg);
}

.offer-card-formen{
    background-image: $toner,
        url(../img/formen.jpg);
}
.offer-card-forkids{
    background-image: $toner,
        url(../img/forkids.jpg);
}
.offer-card-accesories{
    background-image: $toner,
        url(../img/accesories.jpg);
}

.products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 96px;
    justify-content: space-between;
}
.products a{
    text-decoration: none;
    color: initial;
}
.product-card:hover .product-img{
    filter: brightness(50%);
}
.products-title{
    font-size: 30px;
}
.products-title, .products-subtitle{
    width: 100%;
    text-align: center;
    margin: 0;
}

.products-subtitle{
    margin-bottom: 48px;
    font-size: 14px;
    color: #9F9F9F;
}

.product-card{
    max-width: 360px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    position: relative;
}

.product-img{
    margin: 0;
    background-color: #F7E4E2;
    width: 100%;
}
.product-info{
    padding: 16px;
}
.product-name{
    font-size: 13px;
}
.product-txt{
    margin-top: 12px;
    font-size: 14px;
    color: #5D5D5D;
    font-weight: 300;
}

.product-price{
    margin-top: 18px;
    font-size: 16px;
    color: #F16D7F;
}

.products-item-btn{
    width: 139px;
    position: absolute;
    top: 30%;
    left: calc(50% - 70px);
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    color: #FFF;
    border: 1px solid #fff;
    padding: 10px;
    font-size: 14px;
    display: none;
}
.products-item-btn svg{
    fill: #FFF;
}
.product-card a:hover .products-item-btn{
    display: flex;
}
.products-btn{
    color:#F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    background-color: #FFFFFF;
    margin: 18px auto 0;
}
.products-btn:hover{
    background-color: #F16D7F;   
    color: #FFF;
}

.page-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrp{
        padding: 12px 16px;
        border: 1px solid #EBEBEB;
        display: flex;
    }
    &-list {
        padding: 0 10px;

        &-item {
            display: inline-block;   
            &:nth-last-child(3) a{
                padding-right: 0;                
            } 
            &:last-child a{
                padding-left: 0;                
            } 
            span{
                color: #C4C4C4;
            }                  
        }
        &-link{
            text-decoration: none;
            color: #C4C4C4;
            padding: 0 10px;
            font-size: 16px;            
            
            &-active {
                color: #EF5B70;
            }            
        }
    }
    &-btn{
        font-weight: bold;
        border: none;
        background-color: initial;
    }
}

.features{
    background-color: #222224;
    padding: 104px 0;
    margin-top: 95px;
}
.features .container{
    display: flex;
    justify-content: space-between;
}

.feature{
    color: #FBFBFB;
    text-align: center;
    max-width: 360px;
}

.feature svg{
    fill: #F16D7F;
}
.feature-title{
    margin-top: 19px;
    font-size: 20px;
}
.feature-txt{
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
    line-height: 16px;
}

footer{
    background-image: url(../img/subscribe-photo.jpg);
    background-size: cover;
    background-position: bottom;
}
.subscribe{
    background: rgba(255, 255, 255, 0.7);
    background-blend-mode: color;
    height: 448px;
}

.subscribe .container{    
    display: flex;    
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.subscribe-info{
    text-align: center;
    width: 360px;
}
.subscribe-info-txt{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-top: 30px;
}
.subscribe-info-txt span{
    font-style: italic;
}
.subscribe-form-wrp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe-form-title, .subscribe-form-subtitle{
    text-transform: uppercase;
    line-height: 167.2%;
}
.subscribe-form-title{
    font-size: 24px;
    font-weight: bold;
}
.subscribe-form-subtitle{
    font-size: 18px;
}
.subscribe-form{
    margin-top: 32px;
    display: flex;
}
.subscribe-form-email{
    height: 49px;
    width: 259px;
    border-radius: 50px 0 0 50px;
    border: none;
    padding-left: 22px;
    font-size: 14px;
    line-height: 17px;
    background: #E1E1E1;
    color: #222224;
    margin: 0;
    outline: none;
}
.subscribe-form-btn{
    margin: 0;
    width: 100px;
    height: 49px;
    border: none;
    border-radius: 0 50px 50px 0;
    background: #F16D7F;
    color: #FFF;
}
.subscribe-form-btn:hover{
    background-color: #E05C6E;
}

.footer-bottom{
    background-color: #222224;
    height: 79px;
    color: #FFF;
}

.footer-bottom .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer-txt{
    font-size: 16px;
}

.footer-bottom a{
    text-decoration: none;
}

.page-footer-socials{
    width: 148px;
    display: flex;
    justify-content: space-between;
}

.page-footer-socials-item{
    background-color: #fff;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-footer-socials-item:hover{
    background-color: #F16D7F;
}
.page-footer-socials-item:hover svg{
    fill: #FFF;
}

@media (max-width: 1024px) {
    .container{
        margin-left: 16px;
        margin-right: 16px;
    }
    .offer-card{
        flex-basis: calc(100% / 3 - 1.2em);
        height: 167px;
    }
    .offer-card-wide{
        height: 116px;
        margin-top: 19px;
    }

    .product-card{
        max-width: calc(100% / 3 - 16px);
        margin-bottom: 16px;
    }

    .header-banner-img{
        min-height: 535px;
        background-position: bottom left -100px;
    }
    .header-banner-txt{
        margin-right: 3.7%;
        position: relative;
    }
}

@media (max-width: 768px){
    .header-banner-img{
        min-height: 367px;        
        background-position: bottom left;
        background-size: contain;
    }
    .product-card {
        max-width: calc(50% - 8px);
    }
    .header-banner-title{
        font-size: 44px;
    }
    .header-banner-subtitle{
        font-size: 24px;
    }

    .features{
        height: 610px;
        padding: 0;
    }

    .features .container{
        height: 100%;
        flex-direction: column;        
        justify-content: space-evenly;
        align-items: center;
    }
    footer{        
        background-size: cover;        
        background-position: 25%;
    }
    .subscribe{
        height: 614px;
    }
    .subscribe .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    div.products-wrp > div:nth-child(3){
        display: none;
    }
}
@media (max-width: 480px){
    .account-btn, .cart-btn{
        display: none;
    }
    .header-banner-wrp{
        min-height: 367px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-banner-img{
        display: none;
    }
    
    .header-banner-title{
        font-size: 38px;
    }
    .header-banner-subtitle{
        font-size: 20px;
    }
    .offer{
        flex-direction: column;
    }
    .offer-card{
        flex-basis: auto;
        height: 247px;
        width: 100%;
        margin: 0 0 32px 0;
        background-size: cover;
    }
    .offer-card-wide{
        margin: 0;
        height: 111px;
    }
    .product-card {
        max-width: 100%;
    }

    .subscribe-info-txt{
        font-size: 18px;
    }
    .subscribe-form-subtitle{
        font-size: 14px;
    }
    .subscribe-form-email{
        box-sizing: border-box;
        width: 245px;
    }
    .subscribe-form-btn{
        width: 96px;
    }
    .footer-bottom{
        height: 143px;
        padding: 43px 0 9px 0;
        box-sizing: border-box;
    }
    .footer-bottom .container{
        flex-direction: column-reverse;
    }
    .single-header-wrp{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    .product-filter-block{
        justify-content: space-between;
        margin: 24px 0 32px;
    }
    .filter-main{
        padding: 0;
        width: auto;
    }
    .filter-main span{
        display: none;
    }
    .filter-main svg{
        width: 37px;
        height: 25px;
        margin: 0;
    }
    .filter-second{
        font-size: 12px;
        margin-left: 24px;
        min-width: auto;
    }
    .filter-second .fa-chevron-down{
        margin-left: 9px;
    }
}