@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato";
  background-color: #fff;
}

.padding-site {
  padding-left: 12.481%;
  padding-right: 12.481%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.page-header {
  height: 75px;
  background-color: #222;
}

.page-header-wrp-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top-panel {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0;
}

.logo {
  margin-right: 41px;
  text-decoration: none;
}

.page-header svg {
  width: 100%;
  height: 100%;
  fill: #E8E8E8;
}

.page-header button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
}

.page-header-search-btn:hover svg {
  fill: orange;
}

.account-btn svg {
  width: 29px;
  height: 29px;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  /* border: 1px solid #fff; */
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after {
  background-color: orange;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after {
  background-color: red;
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}

.menu-btn span::after {
  top: 10px;
}

#menu-switch {
  display: none;
}

#menu-switch:checked ~ .menu-list {
  display: block;
}

#menu-switch:checked ~ .page-header-banner {
  border: 8px solid red;
}

/* ======================= */
.menu-list {
  display: none;
  width: 232px;
  min-height: 764px;
  /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
  padding: 16px 33px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  position: absolute;
  top: 75px;
  /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
  right: 0;
  z-index: 20;
}

.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
  position: relative;
  top: 0;
  left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6F6E6E;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-list-close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
  background: #535353;
}

.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.menu-title > a,
.menu-list-item > a,
.menu-sublist-item > a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

/* .menu-list-item {
    
  } */
.menu-list-item > a {
  display: block;
  margin: 0 0 11px 0;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-list-item:hover > a {
  color: #9889D7;
}

.menu-list-item:active > a {
  color: #9D2334;
}

.menu-sublist {
  padding: 0 0 0 21.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.menu-sublist-item > a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6F6E6E;
}

.menu-sublist-item a {
  text-decoration: none;
}

.menu-sublist-item:hover a {
  text-decoration: underline;
}

.menu-sublist-item:active a {
  text-decoration: none;
}

/* === end mobile menu === */
/* === account-btn === */
.account-btn {
  margin-left: 33px;
}

.account-btn svg {
  width: 29px;
  height: 29px;
}

.account-btn:hover svg {
  fill: orange;
}

.account-btn:active svg {
  fill: red;
}

/* === end account-btn === */
/* === cart-btn === */
.cart-btn {
  margin-left: 33px;
}

.cart-btn svg {
  width: 32px;
  height: 29px;
}

.cart-btn:hover svg {
  fill: orange;
}

.cart-btn:active svg {
  fill: red;
}

.header-banner {
  min-height: 764px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(img/head-img.png), #F1E4E6;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  margin-bottom: 65px;
  text-transform: uppercase;
}

.header-banner::before {
  content: '';
  display: block;
  width: 50%;
}

.header-banner-wrp {
  margin-left: 92px;
  position: relative;
}

.header-banner-wrp::before {
  content: ' ';
  height: 100%;
  width: 12px;
  background: #F16D7F;
  position: absolute;
  top: auto;
  left: -28px;
}

.header-banner-title {
  font-size: 48px;
  margin: 0;
  font-weight: 900;
}

.header-banner-subtitle {
  font-size: 32px;
  margin: 0;
  font-weight: 700;
}

.header-banner-subtitle span {
  color: #F16D7F;
}

.single-header {
  background-color: #F8F3F4;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single-title {
  text-transform: uppercase;
  color: #F16D7F;
}

.bread-crumbs {
  list-style: none;
}

.bread-crumbs li {
  display: inline;
  text-transform: uppercase;
}

.bread-crumbs li::after {
  content: "/";
  margin: 0 3px 0 6px;
}

li:last-child::after {
  content: none;
}

.bread-crumbs a {
  text-decoration: none;
  color: initial;
}

.bread-crumbs .active a {
  font-weight: bold;
  color: #F16D7F;
}

.products-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card a {
  text-decoration: none;
  color: initial;
}

.product-filter-block {
  margin-top: 51px;
  margin-bottom: 64px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

.filter-main {
  padding: 13px 16px;
  width: 360px;
  font-weight: bold;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#filter-main-switch {
  display: none;
}

.filter-main-group-title {
  list-style: none;
}

.filter-main-group-title::marker {
  display: none;
}

.filter-main svg {
  fill: #000000;
  margin-left: 11px;
}

.filter-main:hover label {
  color: #EF5B70;
}

.filter-main:hover svg {
  fill: #EF5B70;
}

.filter-main-list {
  display: none;
  position: absolute;
  z-index: 20;
}

.filter-main-list li {
  list-style: none;
}

.filter-main-group {
  padding: 11px;
}

#filter-main-switch:checked ~ .filter-main-list {
  display: block;
}

.filter-second {
  font-size: 14px;
  color: #6F6E6E;
  margin-left: 28px;
}

.filter-second .fa-chevron-down {
  margin-left: 10px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-card, .offer-card-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.offer-card {
  width: 360px;
  height: 260px;
  background-position: center center;
}

.offer-card-wide {
  width: 100%;
  height: 180px;
  margin-top: 30px;
}

.offer-card p, .offer-card-wide p {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-card-title {
  color: #F16D7F;
  font-weight: bold;
  font-size: 24px;
}

.offer-card-subtitle {
  font-size: 16px;
  color: #FFFFFF;
}

.offer-card-forwomen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/forwomen.jpg);
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/forwomen.jpg);
}

.offer-card-formen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/formen.jpg);
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/formen.jpg);
}

.offer-card-forkids {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/forkids.jpg);
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/forkids.jpg);
}

.offer-card-accesories {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 22, 22, 0.7)), to(rgba(33, 22, 22, 0.7))), url(img/accesories.jpg);
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/accesories.jpg);
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products a {
  text-decoration: none;
  color: initial;
}

.product-card:hover .product-img {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.products-title, .products-subtitle {
  width: 100%;
  text-align: center;
  margin: 0;
}

.products-subtitle {
  margin-bottom: 48px;
}

.product-card {
  max-width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.product-img {
  margin: 0;
  background-color: #F7E4E2;
  width: 100%;
}

.product-info {
  padding: 16px;
}

.product-name {
  font-size: 13px;
}

.product-txt {
  margin-top: 12px;
  font-size: 14px;
  color: #5D5D5D;
  font-weight: 300;
}

.product-price {
  margin-top: 18px;
  font-size: 16px;
  color: #F16D7F;
}

.products-item-btn {
  width: 139px;
  position: absolute;
  top: 30%;
  left: calc(50% - 70px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: transparent;
  color: #FFF;
  border: 1px solid #fff;
  padding: 10px;
  font-size: 14px;
  display: none;
}

.products-item-btn svg {
  fill: #FFF;
}

.product-card a:hover .products-item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-btn {
  color: #F26376;
  border: 1px solid #FF6A6A;
  padding: 15px 39px;
  background-color: #FFFFFF;
  margin: 18px auto 0;
}

.products-btn:hover {
  background-color: #F16D7F;
  color: #FFF;
}

.page-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-nav-wrp {
  padding: 16px;
  border: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-nav-list {
  padding: 10px;
}

.page-nav-list-item {
  display: inline-block;
}

.page-nav-list-item:nth-last-child(3) a {
  padding-right: 0;
}

.page-nav-list-item:last-child a {
  padding-left: 0;
}

.page-nav-list-item span {
  color: #C4C4C4;
}

.page-nav-list-link {
  text-decoration: none;
  color: #C4C4C4;
  padding: 0 10px;
  font-size: 16px;
}

.page-nav-list-link-active {
  color: #EF5B70;
}

.page-nav-btn {
  font-weight: bold;
  border: none;
  background-color: initial;
}

.features {
  background-color: #222224;
  padding: 104px 0;
  margin-top: 95px;
}

.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature {
  color: #FBFBFB;
  text-align: center;
  max-width: 360px;
}

.feature svg {
  fill: #F16D7F;
}

.feature-title {
  margin-top: 19px;
  font-size: 20px;
}

.feature-txt {
  font-size: 14px;
  font-weight: 300;
  margin-top: 16px;
  line-height: 16px;
}

footer {
  background-image: url(img/subscribe-photo.jpg);
}

.subscribe {
  background: rgba(255, 255, 255, 0.7);
  background-blend-mode: color;
  height: 448px;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe-info {
  text-align: center;
  width: 360px;
}

.subscribe-info-txt {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 30px;
}

.subscribe-info-txt span {
  font-style: italic;
}

.subscribe-form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-form-title, .subscribe-form-subtitle {
  text-transform: uppercase;
  line-height: 167.2%;
}

.subscribe-form-title {
  font-size: 24px;
  font-weight: bold;
}

.subscribe-form-subtitle {
  font-size: 18px;
}

.subscribe-form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form-email {
  height: 49px;
  width: 259px;
  border-radius: 50px 0 0 50px;
  border: none;
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
  background: #E1E1E1;
  color: #222224;
  margin: 0;
  outline: none;
}

.subscribe-form-btn {
  margin: 0;
  width: 100px;
  height: 49px;
  border: none;
  border-radius: 0 50px 50px 0;
  background: #F16D7F;
  color: #FFF;
}

.subscribe-form-btn:hover {
  background-color: #E05C6E;
}

.footer-bottom {
  background-color: #222224;
  height: 79px;
  color: #FFF;
}

.footer-bottom .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer-txt {
  font-size: 16px;
}

.footer-bottom a {
  text-decoration: none;
}

.page-footer-socials {
  width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-footer-socials-item {
  background-color: #fff;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer-socials-item:hover {
  background-color: #F16D7F;
}

.page-footer-socials-item:hover svg {
  fill: #FFF;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-banner {
    min-height: 100vh;
  }
  .offer-card {
    -ms-flex-preferred-size: calc(100% / 3 - 1.2em);
        flex-basis: calc(100% / 3 - 1.2em);
    height: 167px;
    background-size: contain;
  }
  .offer-card-wide {
    height: 116px;
    margin-top: 19px;
  }
  .product-card {
    max-width: calc(100% / 3 - 16px);
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .product-card {
    max-width: calc(50% - 8px);
  }
  .features {
    height: 610px;
    padding: 0;
  }
  .features .container {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    background-size: cover;
    background-position: 25%;
  }
  .subscribe {
    height: 614px;
  }
  .subscribe .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */